.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#tart-box {
  display: flex;
}

#name-box {
  width: 50%;
  flex-grow: 2;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-art {
  height: 100px;
  width: 100px;
  background-image: url("");
  background-size: cover;
  border-radius: 5%;
  margin: 0.5rem;
}

.now-playing {
  font-size: 0.8rem;
}

.track-name {
  font-size: 1.25rem;
  color: #c8e5ee;
}

.track-artist {
  font-size: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.5rem;
}

.playpause-track, .prev-track, .next-track {
  padding: 0.25rem;
  opacity: 1.0;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
.playpause-track {
  font-size: 0.35rem;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 0.7;
}

.slider_container {
  width: 75%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: lightblue;
  opacity: 1.0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 0.7;
  cursor: url(key4.png), pointer;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 2px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 2px;
}


.playlist {
  min-height: 6rem;
  box-sizing: border-box;
  flex-grow: 2;
  overflow: auto;
  padding-right: 1rem;
  li {
    margin: 1rem 0;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  li:hover {
    opacity: 0.7;
  }
}

.list_select {
  display: flex;
  gap: 0.2rem;
  color: white;
  div {
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  div:hover {
    opacity: 0.7;
  }
}
.dashed{
  width: 90%;
  border-style: dashed;
  color: white;
}

.menu{
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu{
    display: flex;
    padding-top: 15px;
    border-bottom: 1px dashed white;
    padding-bottom: 15px;
    width: 100%;
    overflow: visible;
  }
  .playlist{
    max-height: 10vh;
  }
}